/* * {
    font-family: "Merriweather", serif;
} */

.singlePost {
    flex: 9;
    
}
.singlePostWrapper {
    margin-top: 20px;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}
.singleImg {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    margin-top: 25px;
}
.singlePostTitleInput {
    font-family: "Merriweather", serif;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
    color: gray;
    border: none;
    border-bottom: 1px solid lightgray;
}
.singlePostTitleInput:focus {
    outline: none;
}
.singlePostEdit {
    float: right;
    font-size: 20px;
}
.singlePostIcon {
    margin-right: 15px;
    cursor: pointer;
}
.singlePostIcon:first-child {
    color: teal;
}
.singlePostIcon:last-child {
    color: tomato;
}
.singlePostInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #b39656;
    
}
.singlePostAuthor {
    font-family: "Merriweather", serif;
}
.singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 2px;
    font-family: "Merriweather", serif;
}
.singlePostDesc::first-letter {
    margin-left: 15px;
    font-size: 3.5rem;
    font-family: "Cookie", cursive;
    font-weight: 500;
    color: #669bbc;
}
.singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 2px;
    font-family: "Merriweather", serif;
}
.singlePostDescInput:focus {
    outline: none;
}
.singlePostBtn {
    width: 100px;
    background-color: #669bbc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-end;
    
}