.login{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg");
    background-size: cover;
}
.loginTitle {
    font-size: 50px;
    font-family: "Merriweather", serif;
}
.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm>label {
    margin: 10px 0;
}
.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    font-size: 1rem;
}
.loginSubmit {
    margin-top: 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 1rem;
}
.loginSubmit:disabled {
    cursor: not-allowed;
    background-color: rgb(247, 151, 151);
}
.loginRegisterBtn {
    position: absolute;
    top: 120px;
    right: 20px;
    background-color: #669bbc;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}