.register{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/796603/pexels-photo-796603.jpeg");
    background-size: cover;
}
.registerTitle {
    font-size: 50px;
    font-family: "Merriweather", serif;
}
.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}
.registerForm>label {
    margin: 10px 0;
}
.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    font-size: 1rem;
}
.registerSubmit {
    margin-top: 20px;
    background-color: #669bbc;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 1rem;
}
.registerLoginBtn {
    position: absolute;
    top: 120px;
    right: 20px;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
}