.sidebar {
    flex: 3;
    margin: 20px;
    padding: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sidebarImg {
    width: 80%;
    height: 200px;
    object-fit: cover;
}
.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-size: 1.25rem;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarItem img {
    margin-top: 15px;
}
.sidebarItem p {
    padding: 15px 30px 30px 30px;
}
.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    margin-top: 15px;
    
}
.sidebarSocial  {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon {
    font-size: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
}