.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    
    /* font-weight: 700; */

}

.headerTItlesSm {
    position: absolute;
    top: 23%;
    font-size: 50px;
    color: #646262ea !important;
    font-family: "Dancing Script", cursive !important;
    font-weight: 700 !important;
}

.headerTItlesLg {
    position: absolute;
    top: 32%;
    font-size: 50px;
    font-weight: 700;
    color: #646262ea !important;
    font-family: "Dancing Script", cursive !important;
}
.spanTitle {
    font-size: 80px;
    font-family: "Dancing Script", cursive !important;
    color: #444 !important;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 85px;
    object-fit: cover;
}