.post {
    width: 385px;
    margin: 10px 25px 40px 25px;
}
.postImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}
.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat {
    font-size: 1rem;
    color: #be9656;
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}
.postTitle {
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;

}

.postDate {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
}
.postDesc {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 14px;
    color: #444;
    margin-top: 10px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}