.setting {
    display: flex;
}
.settingWrapper {
    flex: 9;
    padding: 20px;
}

.settingTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
    /* font-family: "Merriweather", serif; */
}
.settingDeleteTitle {
    font-size: 16px;
    color: red;
    cursor: pointer;
}
.settingForm {
    display: flex;
    flex-direction: column;
}
.settingPP {
    display: flex;
    margin: 10px 0;
}
.settingPImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.settingPPIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.settingForm > label {
    margin-top: 20px;
    font-size: 20px;
}
.settingForm > input {
    color: black;
    font-size: 1rem;
    padding: 2px 10px;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}
.settingForm > input::placeholder {
    color: gray;
}
.settingSubmit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 15px;
    background-color: teal;
    color: white;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}