.top {
    width: 100%;
    height: 100px;
    background-color: #669bbc;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2rem;
    z-index: 1000;
}
.topLeft, .topRight {
    flex: 3;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.topCenter {
    flex: 6;
}
.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.topIcon{
    cursor: pointer;
    margin-right: 2px;
}
.topList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 40px;

}
.topListItem {
    margin-right: 20px;
    font-weight: 300;
    cursor: pointer;
}
.topSearchIcon {
    margin-left: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}
.signLink {
    font-size: 20px;
    margin-right: 0;
    margin-left: 6px;
    font-weight: 500;
}
